body {
    background-image: url(elliott-engelmann-DjlKxYFJlTc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover ;
    background-color: dark;
    background-attachment: fixed;
}


.tp {
    font-family: cursive;
    font-size: 50px;
    margin : 20px;
    width: 100%;
    font-weight: bolder;
    color: white;
    font-style: italic;
    text-align: center;
    text-shadow: brown 2px 5px;
}

.styled {
    border: 0;
    line-height: 0;
    padding: 0 20px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

nav {
    text-align: center;
    
}

.home {
    text-align: left
}

.text{
    color: white;
    text-align: center;
}
.titre{
    color: white;
    font-size: xx-large;
    text-align: center;
}
.flex-container{
    display : flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    margin: 0px auto;
    padding: 20px auto;

}
.flex-containerimg{
    display : flex;
    flex-direction: row;
    justify-content: center;
    background-color: none;
    margin: auto;
    padding: auto;
    

}
iframe{
    margin-left: 0px;
}

/*personnalisation des tableaux*/
.tableau{
    margin: auto;/*Pour centrer les tableau dans la pages*/
    border: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: (white);
    text-align: center;
    width: auto;
    background-color: lightgray;
}

table {
    background-color: lightgray;
    border-color: white;
    
  }

td {
    border: 1px solid white;
    color : white;
    width: 100px;
    height: 50px;
  }
